@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Comfortaa";
  src: url("/Comfortaa.woff2");
}

@font-face {
  font-family: "Roboto";
  src: url("/RobotoFlex.woff2");
}
